.form {
  background-color: #202020;
  padding-top: 70px;
  height: 100%;
}
.form__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 396px;
  height: 100%;
  margin: auto;
}
.form__header-logo{
}
.form__title {
  margin: 0;
  padding: 40px 0px 40px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.form__inputs{

}
.form__buttons{
  display: flex;
  flex-direction: column;
  padding-bottom: 70px;
}
.form__form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  justify-content: space-between;

}
@media screen and (max-width: 320px) {
  .form {
    padding-top: 18px;
  }
  .form__wrap{
    align-items: center;
    height: 100%;
  }
  .form__title{
    padding-top: 46px;
    padding-bottom: 80px;
  }
  .form__form{
    padding: 0px 15px;
  }
  .form__buttons{
    padding-bottom: 20px;
  }

}
