.form {
  background-color: #202020;
  padding: 70px 0px;
}
.form__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 396px;
  margin: auto;
}
.form__title {
  margin: 0;
  padding: 40px 0px 40px;
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.form__form {
  display: flex;
  flex-direction: column;
}
