.button {
  border: none;
  cursor: pointer;
  border-radius: 3px;
  background: #4285f4;
  max-width: 396px;
  height: 45px;
  margin-top: 70px;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 320px) {
  .button {
    font-size: 12px;
  }
}
