.portfolio__container {
  padding: 0px 0px 125px;
  border: none;
}
.portfolio__title {
  margin: 0;
  padding-bottom: 50px;

  color: #8b8b8b;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
.portfolio__links {
  margin: 0;
  padding: 0;
}
.portfolio__link {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 23px 0px;
  padding-bottom: 6px;
  border-bottom: 1px solid #dadada;

  color: #fff;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: -1.2px;
}
.portfolio__link:last-child {
  border-bottom: none;
  margin: 0;
}
.portfolio__link-symbol {
  text-decoration: none;

  color: #fff;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 200% */
  letter-spacing: -1.2px;
}
.portfolio__link-symbol:hover {
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .portfolio__container {
    padding: 0px 0px 90px;
  }
  .portfolio__link {
    font-size: 28px;
    letter-spacing: -1.12px;
  }
  .portfolio__link-symbol {
    font-size: 28px;
    letter-spacing: -1.12px;
  }
}

@media screen and (max-width: 320px) {
  .portfolio__container{
    padding-bottom: 70px;
  }
  .portfolio__title {
    padding-bottom: 40px;

    font-size: 14px;
    line-height: 20px; /* 142.857% */
  }
  .portfolio__link {
    padding-bottom: 19px;
    font-size: 18px;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.72px;
  }
  .portfolio__link-symbol {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.72px;
  }
}
