.portfolio {
  background: #202020;
  padding: 0px 70px 125px;
  border: none;
}
.portfolio__title {
  margin: 0;
  padding-bottom: 70px;

  color: #8b8b8b;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
.portfolio__links {
  margin: 0;
  padding: 0;
}
.portfolio__link {
  display: flex;
  justify-content: space-between;

  padding-bottom: 19px;
  padding-top: 20px;
  border-bottom: 1px solid #dadada;

  color: #fff;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: -1.2px;
}
.portfolio__link :first-child {
  padding-top: 0;
}
.portfolio__link:last-child {
  border-bottom: none;
}
.portfolio__link-symbol {
  text-decoration: none;
  color: #fff;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px; /* 200% */
  letter-spacing: -1.2px;
}
