
.input {
  display: flex;
  flex-direction: column;
}
.input__label {
  padding-top: 24px;
  color: #8b8b8b;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input__label:first-child {
}
.input__text {
  padding: 0;
  padding-top: 15px;
  border: none;
  border-bottom: 1px solid #424242;
  background: transparent;

  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.input__text:focus {
  outline: none;
}
.input__error {
}
