.burger-menu{
  display: none;
  margin-right: 30px;
}
.burger-menu__icon {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.burger-menu__icon-line {
  display: block;
  margin: 3px;
  width: 28px;
  height: 3px;
  background-color: white;
  transition: transform 0.3s ease-in-out;
}
.burger-menu__open .burger-menu__icon-line:nth-child(1) {
  transform: translateY(9px) rotate(135deg);
}
.burger-menu__open .burger-menu__icon-line:nth-child(2) {
  transform: translateY(9px) rotate(180deg);
  opacity: 0;
}
.burger-menu__open .burger-menu__icon-line:nth-child(3) {
  transform: translateY(-9px) rotate(-135deg);
}

.burger-menu__list {
  z-index: 5;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  height: 100vh;
  right: -30px;
  width: 520px;
  background-color: #202020;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

.burger-menu__list li {
  margin-bottom: 10px;
  color: #FFF;
text-align: center;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: block;
  }
}
