.movies-card {
  margin: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(auto, 339px) 44px;
  grid-template-areas:
    "image image"
    "title action"
    "time time";
  row-gap: 14px;
}
.movies-card__img {
  grid-area: image;
  width: 100%;
  height: 100%;
}
.movies-card__title {
  grid-area: title;

  color: #fff;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.movies-card__action {
  grid-area: action;
  justify-self: end;
  width: 24px;
  height: 24px;

  background: transparent;
  border: none;
  cursor: pointer;
}
.movies-card__action:hover {
  opacity: 0.8;
}
.movies-card__like__active {
  background-image: url(../../../images/heart-active.svg);
  background-repeat: no-repeat;
  background-color: #313131;
  background-position: center;
  border-radius: 50%;
}
.movies-card__like__disactive {
  background-image: url(../../../images/heart-disable.svg);
  background-repeat: no-repeat;
  background-color: #313131;
  background-position: center;
  border-radius: 50%;
}
.movies-card__delete:hover {
  background-image: url(../../../images/delete.svg);
  background-repeat: no-repeat;
  background-color: #313131;
  background-position: center;
  border-radius: 50%;
}
.movies-card__time {
  grid-area: time;
  padding-top: 6px;
  border-top: 1px solid #dadada;

  color: #8b8b8b;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 768px) {
  .movies-card__time {
    margin-top: 5px;
  }
}
@media screen and (max-width: 320px) {
  .movies-card{
    row-gap: 20px;
  }
  .movies-card__title {
    font-size: 12px;
  }
}
