.footer {
  flex: 0 0 auto;
}
.footer__container {
  padding: 60px 0px 20px;

}
.footer__title {
  margin: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #dadada;

  color: #8b8b8b;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__block {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.footer__coopirait {
}
.footer__coopirait-text {
  margin: 0;

  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__info {
}
.footer__link {
  text-decoration: none;
  margin-right: 20px;

  color: #fff;
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__link:last-child {
  margin: 0px;
}
.footer__link:hover {
  opacity: 0.7;
}
