.promo {
  background: #073042;
  display: flex;
  flex-flow: column wrap;
  padding: 0px 70px;
  /* box-sizing: border-box; */
}
.promo__title {
  max-width: 626px;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 102px;
  color: #fff;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px; /* 130% */
  letter-spacing: -1.6px;
}
.promo__image {
  align-self: end;
  padding-bottom: 60px;
  max-width: 722px;
  max-height: 244px;
  min-width: 680px;
  min-height: 230px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .promo {
    display: flex;
    align-items: center;
    align-content: center;
    overflow: hidden;
  }
  .promo__title {
    padding: 300px 0px 0px 0px;
    text-align: center;
  }
  .promo__image {
    padding: 140px 0px 70px 0px;
  }
}
