.promo {
  background: #073042;
}
.promo__title {
  width: 626px;
  margin: 0;
  padding-left: 70px;
  padding-top: 50px;
  padding-bottom: 102px;
  color: #fff;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 52px; /* 130% */
  letter-spacing: -1.6px;
}
.promo__image {
  padding-bottom: 60px;
  padding-left: 488px;
  max-width: 722px;
  max-height: 244px;
}
