.search-form {
  padding-top: 70px;
  padding-bottom: 70px;
}
.search-form__container {
  display: flex;
  justify-content: space-between;
  background-color: #2f2f2f;
  padding: 18px;
  border-radius: 9px;
}
.search-form__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.search-form__form-input {
  background-color: transparent;
  border: none;
  width: 100%;
  height: 100%;

  color: #8b8b8b;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
.search-form__form-input:focus {
  outline: none;
}
.search-form__form::before {
  content: "";
  display: block;
  background-image: url("../../../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 34px;
  height: 34px;
  padding-right: 10px;
}
.search-form__form-button {
  cursor: pointer;
  width: 59px;
  height: 34px;
  border: none;
  border-radius: 49px;
  background-color: #4285f4;

  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 163.636% */
}
.search-form__form-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 320px) {
  .search-form__wrapper {
    flex-direction: column;
  }
}
